<h1 *ngIf="!token">You do not have your Pivotal token configured in a .env file. Please add your token there to continue.</h1>
<label for="project" *ngIf="projects.length">Project: 
  <select id="project" name="project" [(ngModel)]="selectedProject" (ngModelChange)="onSelectProject($event)">
    <option value="">-- Select a Project --</option>
    <option *ngFor="let item of projects" [value]="item.id">{{ item.name }}</option>
  </select>
</label>
&nbsp;&nbsp;&nbsp;&nbsp;
<label for="long-projects" *ngIf="projects.length">Hide long ongoing projects
  <input type="checkbox" [checked]="!showLongProjects" (change)="showLongProjects = !showLongProjects">
</label>

<project-progress *ngIf="selectedProject && token" [project]="selectedProject" [token]="token" [longProjects]="showLongProjects"></project-progress>